h1
{
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
}

#alumno-container
{
  padding-top: 20px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
}

#alumno0-container
{
  margin: auto;
}

.alumno-card
{
  width: 150px;
  height: 150px;
  background-color: lightgray;
  border: 3px solid transparent;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: border 0.15s ease;
  font-family: sans-serif;
}

.alumno-card h2
{
  margin: 0;
  font-size: 1.5rem;
}

.alumno-card .contador
{
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

#alumno-container span
{
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

#boton-container
{
  padding-top: 20px;
  margin: auto;
  width: 90%;
  text-align: center;
}

#botones
{
    user-select: none;
}

#input-container
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 90%;
  margin: auto;
}

#img-boom   
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -9999;
  opacity: 0;
}

#img-coins   
{
  position: fixed;
  top: 0;
  left: 25vw;
  object-fit: cover;
  z-index: -9999;
  opacity: 0;
}

#txt-file-container
{
  margin: auto;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}